<p>new-tarea works!</p>
<h1>Crear Tarea</h1>
<div>
<form class="example-form">
    
  <div>
    <mat-form-field class="example-full-width">
        <mat-label>Tarea</mat-label>
        <input matInput [formControl]="tarea"placeholder="Tarea" value="Tarea">
      </mat-form-field>
  </div>
  <div>
    <mat-form-field>
        <mat-label>Prioridad</mat-label>
        <mat-select matInput class="control" [formControl]="prioridad">
          <mat-option value="alta">Alta</mat-option>
          <mat-option value="media">Media</mat-option>
          <mat-option value="baja">Baja</mat-option>
        </mat-select>
      </mat-form-field>
    
  </div>
  <div>
     
    <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea [formControl]="desc" matInput placeholder="Describir tarea..."></textarea>
      </mat-form-field>
</div>
  
    <button mat-raised-button color="primary" (click)="crear()">Crear Tarea</button>


</form>
</div>

<app-cons-tarea></app-cons-tarea>